name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            arch: x64
          # - os: macos-latest
          #   arch: arm64
          # - os: windows-latest
          #   arch: x64
    runs-on: ${{ matrix.os }}
    name: Build
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - uses: radekm/setup-c3@v2
        with:
          version: v0.7.9
          # version: latest-prerelease-tag
      - shell: bash
        run: c3c test

