name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build-mac:
    runs-on: macos-latest
    strategy:
      # Don't abort runners if a single one fails
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - uses: radekm/setup-c3@v2
        with:
          # version: v0.7.9
          version: latest-prerelease-tag
      - uses: actions/setup-go@v4
      - name: Compile and run test suite
        run: |
          c3c test

  build-linux:
    runs-on: ubuntu-latest
    strategy:
      # Don't abort runners if a single one fails
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - uses: radekm/setup-c3@v2
        with:
          # version: v0.7.9
          version: latest-prerelease-tag
      - uses: actions/setup-go@v4
      - name: Compile and run test suite
        run: |
          c3c test
